{% extends 'header.html' %}

{% block title %}
Covid Stats
{% endblock %}

{% block body %}
  <body>
    <div>
      <input type="button" onclick="history.back();" value="Назад"/><br/>
    </div>
    <p>{{ country }}</p>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">date_value</th>
            <th scope="col">confirmed</th>
            <th scope="col">deaths</th>
            <th scope="col">stringency_actual</th>
            <th scope="col">stringency</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <td>{{row[1]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}
